<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>express website practise</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>header}}
    
    <div class="container container-body">
        <div class="right-side">
            <img src="./images/about-us.png" width="100%">
        </div>
        <div class="left-side">
            <p>welcome to Technology site.</p>
            <h2>Get the all info about this site.</h2>
        </div>
    </div>

    {{>footer}}
</body>
</html>